body {
	font-family: Raleway;
	src: url(resource/Raleway-Bold.woff);
	background-color: #c0c0c0;
	background-attachment: fixed;
	font-size: 0.8rem !important;
}
#barra-brasil{
	background-color:#3a3b3c !important; 
}

.navbar-custom {
	padding-bottom: 1rem;
	background-image: url("../img/bg-topo.png");
	padding-top: 1rem;
}

.card-noticias {
	max-width: 540px;
}

.imagem-article {
	object-fit: cover;
	height: 200px;
}

.navbar-custom .navbar-brand {
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
	
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	background-color: #3b0304;
	margin-left: 0.1em;
	color: #FFFFFF;

}

.nav-item .nav-link {
	padding-left: 1rem;
	margin-top: 0.1rem;
}

header.listra {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 4rem;
	padding-bottom: 4rem;
	background-color: rgba(242, 238, 223, 0.7);
	background-attachment: scroll;
	background-size: cover;
	border: 1px solid #ccc;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

section.listra, footer.listra {
	position: relative;
	overflow: hidden;
	padding-top: calc(7rem + 12px);
	padding-bottom: 1rem;
	background-color: #510E16;
	color: #ffffff;
}
.servicos{
	background-color: rgba(242, 238, 223, 0.7);
}
section {
	padding-top: 5rem;
	padding-bottom: 7rem;
}

.footer{
	position: relative;
	overflow: hidden;
	padding-top: 5rem ;
	padding-bottom: 4rem;
	background-color: #F2EEDF;
	background-attachment: scroll;
	background-size: cover;
	border: 1px solid #ccc;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}


input.pesquisa {
	border-radius: 25px;
	height: 3em;
	padding: 1em;
	padding-right: 1em;
	background-image: url("../img/lupa.png");
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
	
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

selection {
	padding-top: calc(10rem + 72px);
	padding-bottom: 7rem;
}

.botao {
	background-color: #F8931E;
	color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	border: none;
	margin: 1rem;
}

.cartao-noticias {
	background-color: #F2EEDF;
}

.organograma-pequeno {
  display:none;
}
.organograma-medio {
  display:none;
}
.organograma-grande {
  display:none;
}


span{
    font-size:15px;
}

.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.imagem-noticias{
	object-fit: cover;
	height: 150px;
}

svg{
	width: 100%;
}
